.cat-detail-out {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; */
    width: 100%;
}

.cat-detail-cont {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    align-items: center; */
    h2 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        margin-top: 0;
        margin-left: 5px;
    }
    img {
        margin-left: 5px;
        /* align-items: center; */
        width: 70%;
    }
    span {
        font-style: italic;
        /* text-decoration: underline; */
    }
    button {
        background-color: #2C3E50;
        color: white;
    }
}

.cat-detail-cont button:hover {
    background-color: #1ABC9C;
    color: black;
}

.cat-description {
    font-weight: 200;
}

.cat-content {
    font-weight: bold;
}