.nav-outter {
    background-color: #B0BEC5;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    h1 {
        text-align: center;
        color: #385450;
    }
}

nav {
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: #F8F8FF;
    }
    li {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }
}

li:hover {
    color: #40875b;
}

@media only screen and (max-width: 480px) {
    .title {
        h1 {
            font-size: 35px;
        }
    }
    nav {
        li {
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 352px) {

    nav {
        ul {
            justify-content: flex-start;
            gap: 3px;
        }
    }
}