.nav-outter {
    background-color: #B0BEC5;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    h1 {
        text-align: center;
        color: #385450;
    }
}

nav {
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
    }
    li {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }
}

li:hover {
    color: #40875b;
}